


<div id="login-form">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="login-title">
                    <h1>Login</h1>
                </div>
                <input type="text" placeholder="Email" name="userEmail" class="form-element" id="email-form"/>
                <input type="password" placeholder="Password" name="userPassword" class="form-element" id="password-form"/>
                <div class="remember-user">
                    <input type="checkbox" id="remember-me" value="Forget password">
                    <label for="remember-me">Remember me</label>
                </div>

                <div class="login-form-button-group">
                    <input type="button" id="button-me-login" class="button-me" value="Login">
                    <input type="button" id="button-me-cancel" class="button-me" value="Cancel">
                </div>

                <p id="fogotten-password"><a href="#">Fogotten Password</a>
                </p>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(function() {
        $("#button-me-login").click(function () {
            $.ajax({
                url: '@Url.Action("Login","User")',
                dataType: 'json',
                type: 'POST',
                data: JSON.stringify({
                    email: $("#email-form").val(),
                    password: $("#password-form").val()
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data !== '') {
                        $("#login-form").hide();
                        $(".extra").hide();
                        $("#Login-Register-Control").hide();
                        $("#userName_Menu").text(data);
                        $("#total_Debt_Menu").text("$0");
                        $("#cartMenu").show();
                    } else {
                        alert("unsuccess");
                    }
                }
            });
        });
    });
</script>
